/* ------------------------------------------------------- */
/* body styles */
body{
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
}
/* ------------------------------------------------------- */
/* text and font styles */
p, h1{
    font-family: 'Lato', sans-serif;
    color: #707070;
    text-align: center;
}
h1{
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
}
p{    
    font-weight: 400;
}
#overlay1 p, #overlay2 p, #overlay3 p, #overlay4 p, #overlay5 p{
    color: #3d3d3d;
    text-align: left;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------- */
/* img container style */
#container {
    width: 998px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
#bg {
    display: block;
    position: absolute;
    transition: all 3s ease;
    width: 998px;
    top: 0;
    left: 0;
}
/* ------------------------------------------------------- */
/* overlay styles */
#green, #cuffs, #copper, #phases, #black{
    position: relative;
}
#overlay1, #overlay2, #overlay3, #overlay4, #overlay5{
    position: absolute;
    box-sizing: border-box;
    width: 250px;
    background-color: #d3c9e3da;
    border-radius: 20px;
    border: 2px solid #3d3d3d;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    transition-property: opacity, visibility;
    transition-duration: 0.7s;
    transition-timing-function: ease;
}
#overlay1, #overlay2, #overlay4{
    left: -260px;
}
#overlay3, #overlay5{
    right: -260px;
}
#overlay1 img, #overlay2 img, #overlay3 img, #overlay4 img, #overlay5 img{
    flex: 1;
    border-radius: 10px;
    height: 150px;
    display: block;
    /* border: 1px solid #3d3d3d; */
}
#overlay1 p, #overlay2 p, #overlay3 p, #overlay4 p, #overlay5 p{
    flex: 2;
}
.hide{
    visibility: hidden;
    opacity: 0;
}
.show{
    visibility: visible;
    opacity: 1;
}
/* ------------------------------------------------------- */
/* zoom-in-out styles*/
.start{
    transition: all 3s ease;     
    width: 998px;
}
/* green earrings */
.one{
    position: absolute;
    transition: all 3s ease;
    width: 5032px;
    top: -580px;
    left: -1850px;
}
/* copper earrings */
.two{
    position: absolute;  
    transition: all 3s ease;
    width: 5032px;
    top: -950px;
    left: -1500px;
}
/* cuffs earrings */
.three{
    position: absolute;   
    transition: all 3s ease;
    width: 5032px;
    top: -550px;
    left: -2570px;
}
/* white earrings */
.four{
    position: absolute;  
    transition: all 3s ease;
    width: 5032px;
    top: -1500px;
    left: -1700px;
}
/* black earrings */
.five{
    position: absolute; 
    transition: all 3s ease;
    width: 5032px;
    top: -1150px;
    left: -2100px;
}
/* ------------------------------------------------------- */
/* hover div style*/
#green, #cuffs, #copper, #phases, #black{
    position: absolute;
}
#green{
    height: 120px;
    width: 90px;
    top: 115px;
    left: 435px;
}
#cuffs{
    width: 100px;
    height: 150px;
    top: 105px;
    left: 500px;
}
#copper{
    width: 60px;
    height: 160px;
    top: 190px;
    left: 385px;
}
#black{
    width: 70px;
    height: 110px;
    top: 235px;
    left: 440px;
}
#phases{
    width: 60px;
    height: 70px;
    top: 340px;
    left: 410px;
}
/* ------------------------------------------------------- */
/* preloader styles*/
#preloader{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
	left: 0;
	background: radial-gradient(circle, #d3c9e3 0%, #000 100%);
	color: #FCFCFC;
	font-size: 3em;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#preloader div:first-of-type {
	margin-bottom: 50px;
    font-family: "Lilita One", sans-serif;
    color: #3d3d3d;
}

.fadeout {
	animation-name: fadeout;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ripple div {
	position: absolute;
	border: 4px solid #FCFCFC;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}
@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}
	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

@keyframes fadeout {
	0%{
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}