/* ------------------------------------------------------- */
/* body styles */
body{
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
}
/* ------------------------------------------------------- */
/* text and font styles */
p, h1{
    font-family: 'Lato', sans-serif;
    color: #707070;
    text-align: center;
}
h1{
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
}
p{    
    font-weight: 400;
}
#overlay p{
    color: #3d3d3d;
    text-align: left;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

/* ------------------------------------------------------- */
/* img container style */
#container {
    width: 998px;
    height: 600px;
    overflow: hidden;
    position: relative;
    margin: auto;
}
#bg {
    display: block;
    position: absolute;
    transition: all 3s ease;
}
/* ------------------------------------------------------- */
/* overlay styles */
#green, #cuffs, #copper, #phases, #black{
    position: relative;
}
#overlay{
    position: absolute;
    box-sizing: border-box;
    width: 250px;
    background-color: #d3c9e3da;
    border-radius: 20px;
    border: 2px solid #3d3d3d;
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    transition-property: opacity, visibility;
    transition-duration: 0.7s;
    transition-timing-function: ease;
}
#green #overlay, #copper #overlay, #phases #overlay{
    left: -260px;
}
#cuffs #overlay, #black #overlay{
    right: -260px;
}
#overlay img{
    flex: 1;
    border-radius: 10px;
    border: 1px solid #3d3d3d;
}
#overlay p{
    flex: 2;
}
.hide{
    visibility: hidden;
    opacity: 0;
}
.show{
    visibility: visible;
    opacity: 1;
}
/* ------------------------------------------------------- */
/* hover div style*/
#green, #cuffs, #copper, #phases, #black{
    position: absolute;
    /* background-color: #707070; */
}
#green{
    height: 120px;
    width: 50px;
    top: 115px;
    left: 455px;
}
#cuffs{
    width: 55px;
    height: 150px;
    top: 105px;
    left: 545px;
}
#copper{
    width: 40px;
    height: 150px;
    top: 190px;
    left: 380px;
}
#black{
    width: 50px;
    height: 80px;
    top: 260px;
    left: 450px;
}
#phases{
    width: 50px;
    height: 70px;
    top: 345px;
    left: 420px;
}
