.bg_img{
    background-image: url(images/stars.svg);
    width: 100%;
    height: 100%;
}
/* -------------------------------------------- */
/* text and font styles */
h2{
    font-family: 'Lato', sans-serif;
    font-style: 700;
}

p{
    font-family: 'Lato', sans-serif;
    font-style: 400;
}
/* -------------------------------------------- */
/* list and links style */
ul li{
    list-style-type: none;
}

ul li a:hover{
    text-decoration: none;
}
/* -------------------------------------------- */