/* body and page margin */
body{
    background-image: url(images/stars.png);
    width: 100%;
    height: 100%;
    background-color: #000009;
    display: flex;
    flex-direction: column;
}

main{
    margin: 2%;
}
/* ------------------------------------------------------- */
/*moon phases header*/
header{
    display: grid;
    row-gap: 20%;
    column-gap: 10%;
    margin: 5% 5% 10% 15%;
    grid-template-columns: auto auto auto;
    
}
/* ------------------------------------------------------- */
/*constellations styling*/
.pi, .aq, .cap, .sa, .sc, .li, .vi, .le, .can, .ge, .ta, .ar{
    position: absolute;
    animation: twinkle 4s infinite;
}
.pi{
    top: 23%;
    left: 20%;
}
.aq{
    bottom: 2%;
    right: 2%;
}
.cap{
    top: 1%;
    right: 1%;
}
.sa{
    bottom: 4%;
    left: 1%; 
}
.sc{
    bottom: 6%;
    right: 2%;
}
.li{
    top: 3%;
    left: 4%;
}
.vi{
    top: 10%;
    right: 3%;
}
.le{
    top: 8%;
    left: 28%;
}
.can{
    top: 20%;
    right: 5%;
}
.ge{
    top: 46%;
    left: 17%;
}
.ta{
    top: 30%;
    right: 2%;
}
.ar{
    top: 20%;
    left: 2%;
}
@keyframes twinkle{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
/* ------------------------------------------------------- */
/*fade in out hover*/
.bg:hover{
    animation: fadeIn 1s forwards;
 }
.bg {
    animation: fadeOut 1s;
    opacity:0;
 }
@keyframes fadeOut {
    0% {
       opacity: 1;
    }
    100% {
       opacity: 0;
    }
 }
 
 @keyframes fadeIn {
    0%{
       opacity: 0;
    }
    100%{
       opacity: 1;
    }
 }
/* ------------------------------------------------------- */
/* text and font styles */
p, li{
    font-family: 'Lato', sans-serif;
}
h2{
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
    color: #3D3D3D;
    margin-top: 2%;
    margin-bottom: 0;
}

p{    
    font-weight: 400;
    color:#000009;
}

footer p, footer a{
    color: #D6D6D6;
}
/* ------------------------------------------------------- */
/*content boxes*/
.left, .middle, .right{
    background-color:#d6d6d6dd;
    border-radius: 25px;
    padding: 2% 4% 2% 4%;
    margin: 5%;
    box-shadow: 20px -20px 0 -5px #3d3d3ddd; /*box behind context box*/
}
.left{
    margin-top: 10%;
}
/* ------------------------------------------------------- */
/* list and links style */
ul{
    margin: 0;
    padding: 1% 1% 1% 5%;
}
ul li{
    list-style-type: none;
    padding: 1% 0 1% 0;
    font-size: 18px;
}

ul li a{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}
footer a:visited, footer a:link{
    color: #D6D6D6;
}

ul li a{
    display: inline-block;
    padding-bottom: 1px;    
}

ul li a:after{
    display: block;
    content: '';
    border-bottom: solid 2px #000009;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

ul li a:hover:after { 
    transform: scaleX(1); 
}
/* ------------------------------------------------------- */
/*footer styling*/
footer{
    margin: auto 5% 5% 8%;
}
p a{
    display: inline-block;
    padding-bottom: 1px;    
}

p a:after{
    display: block;
    content: '';
    border-bottom: solid 2px #D6D6D6;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

p a:hover:after { 
    transform: scaleX(1); 
}
/* ------------------------------------------------------- */
/*media query - desktop*/
@media only screen and (min-width: 700px){

    main{
        margin-top:0;
    }
    header{
        display: block;
        margin: 5% 1% 2% 10%;
    }
    header img{
        width: 8%;
        padding-right: 2%;
    }
    article{
        display: flex;
        gap: 1%;
    }
    .left, .middle, .right{
        flex: 1;
        margin: 4% 1% 1% 1%;
    }
    footer{
        margin-bottom: 1%;
        margin-left: 4%;
    }
    .right .bg, .middle .bg{
        height: 100%;
    }
    ul{
        margin-top: 2%;
    }
    /*repositioning constellations*/
    .pi, .aq, .cap, .sa, .sc, .li, .vi, .le, .can, .ge, .ta, .ar{
        position: absolute;
        width: 10%;
        max-width: 10%;
    }
    .pi{
        top: 23%;
        left: 50%;
    }
    .aq{
        bottom: 4%;
        right: 2%;
    }
    .cap{
        top: 1%;
        right: 1%;
    }
    .sa{
        bottom: 4%;
        left: 1%; 
    }
    .sc{
        bottom: 16%;
        right: 12%;
    }
    .li{
        top: 3%;
        left: 4%;
    }
    .vi{
        top: 60%;
        right: 43%;
    }
    .le{
        top: 8%;
        left: 28%;
    }
    .can{
        top: 25%;
        right: 25%;
    }
    .ge{
        top: 46%;
        left: 17%;
    }
    .ta{
        top: 30%;
        right: 2%;
    }
    .ar{
        bottom: 16%;
        left: 20%;
    }
}
/* ------------------------------------------------------- */