/*body and overall page design*/
body{
    background-image: url(../images/stars.svg);
    width: 98%;
    height: 100%;
    background-color: #000009;
}
main{
    margin: 1%;
    /* border-bottom: #3d3d3d 2px solid; */
}
/* ------------------------------------------------------- */
/*text styles*/
h1{
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
    color: #FCFCFC;
    margin: 2%;
    text-align: center;
}
section > h3{
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
    color: #D3C9E3;
    text-shadow: 0 0 20px #FCFCFC;
}
footer p{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #FCFCFC;
    text-align: center;
}
div > h3{
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
    color: #000009;
    text-align: center;
}
#one h3, #two h3{
    text-align: center;
}
/* ------------------------------------------------------- */
/*header styles*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1%;
}
header button{
    background-color: #fcfcfc00;
    padding: 0 20px;
}
/* ------------------------------------------------------- */
/*cat pics and name positioning*/
main{
    position: relative;
}
#one{
    position: absolute;
    top: 30px;
    left: 535px;
}
#two{
    position: absolute;
    top: -70px;
    left: 810px;
}
/* ------------------------------------------------------- */
/*status boxes*/
div{
    background-color: #FCFCFC;
    border: 15px solid #D3C9E3;
    border-radius: 25px;
    width: 300px;
    height: 300px;
    padding: 20px;
}
/* ------------------------------------------------------- */
/*overlay styles*/
#overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #d6d6d6;
    top: 0;
    left: 0;
    border: 20px solid #D3C9E3;
    box-sizing: border-box;
    display: flex;
	flex-direction: column;
	justify-content: space-around;
}
#overlay h2{
    font-family: 'Lilita One', sans-serif;
    font-weight: 400;
    color: #000009;
    text-align: center;
    padding-bottom: 40px;
}
#overlay p{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #3d3d3d;
    font-size: 18px;
    padding: 0 150px 0 120px;
}
#overlay button{
    background-color: #3d3d3d;
    color: #D3C9E3;
    font-size: 18px;
    margin: 0 650px;
}
/* ------------------------------------------------------- */
/*visibility styles*/
.show{
    visibility: visible;
}
.hide{
    visibility: hidden;
}
/* ------------------------------------------------------- */
/*button styles*/
section button{
    background-color: #d6d6d6;
    color: #3d3d3d;
    border: none;
    font-family: "Lato", sans-serif;
    font-style: italic;
    padding: 10px 30px;
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;
}
section button:first-of-type{
    margin-left: 20px;
}
/* ------------------------------------------------------- */
/*content arrangement*/
main > section:last-of-type{
    position: relative;
}
section:last-of-type div:first-of-type{
    position: absolute;
    top: 90px;
    left: 20px;
}
section:last-of-type > img{
    display: block;
    position: absolute;
    left: 478px;
    z-index: -1;
}
section:last-of-type div:last-of-type{
    position: absolute;
    left: 0;
    top: 90px;
    left: 1100px;
}
/* ------------------------------------------------------- */
/*footer position*/
footer{
    margin-top: 570px;
}