/* body and page margin */
body{
    background-image: url(../images/stars.svg);
    width: 98;
    height: 100%;
    background-color: #000009;
    margin: 2%;
}
/* ------------------------------------------------------- */
/* text styling */
p,date{
    color: #d6d6d6;
}
p, date{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
header h3{
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 900;
    color: #999999;
}
.jEntry h3{
    font-family: 'Lilita One', sans-serif;
    font-kerning: normal;
    margin-top: 0;
    color:#999999;
}
.subhead{
    font-style: italic;
    color:#999999;
}
#top a{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: italic;
}
a:link, a:visited{
    text-decoration: underline;
    color: #d6d6d6;
}
/* ------------------------------------------------------- */
/*header display styling*/
header{
    display: flex;
    justify-content: space-between;
}
#line1, #line2{
    height: 2.5px;
    width: 43%;
    background-color: #3d3d3d;
    border-radius: 99px;
    margin-top: 0.7%;
}
header h3{
    margin: 0;
}
/* ------------------------------------------------------- */
/*main content positioning*/
main{
    display: flex;
}
.moon{
    flex: 1;
}
.jEntry{
    flex: 2;
}
/* ------------------------------------------------------- */
/*article styling*/
.jEntry{
    border: 1px solid #3d3d3d;
    border-radius: 10px;
    padding: 2%;
    margin: 2% 0 2% 2%;
    background-color:#000009b8;
}
.subhead #top{
    margin-bottom: 3px;
}
.subhead #bottom{
    margin-top: 0;
    margin-bottom: 25px;
}
/* ------------------------------------------------------- */
/*footer styling*/
footer p{
    text-align: center;
    font-style: italic;
    color: #999999;
    font-weight: 700;
    font-kerning: normal;
}
/* ------------------------------------------------------- */