/* general page styling */
body{
    background-image: url(images/stars.svg);
    margin: 2%;
    max-width: 80vw;
    height: 100%;
    background-color: #000009;
}
/* ------------------------------------------------------- */
/*gif styling*/

img{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
/* ------------------------------------------------------- */
/*header styling*/
header{
    max-width: 80vw;
    margin: 0;
}
h1{
    font-family: "Lilita One", sans-serif;
    color: #d6d6d6;
    font-size: 36px;
    margin-bottom: 0;
}
header p{
    margin-top: 0;
}
header p, h1{
    text-align: center;
}
/* ------------------------------------------------------- */
/*general text styling*/
p, h3{
    font-family: "Lato", sans-serif;
    font-style: italic;
    color: #d6d6d6;
}
/* ------------------------------------------------------- */
/*main styling*/
main{
    border: 1px #d6d6d6 solid;
    border-radius: 20px;
    background-color: #0000099e;
    padding: 5%;
    margin-left: 10%;
}
/* ------------------------------------------------------- */
/*visibility toggle*/
.show{
    display: block;
}
.hide{
    display: none;
}
/* ------------------------------------------------------- */
/*story styling*/
.story p:first-of-type{
    margin-top: 0;
}
/* ------------------------------------------------------- */
/*madlib form styling*/
h3{
    margin-top: 0;
    text-align: center;
}
label{
    font-family: "Lato", sans-serif;
    color: #d6d6d6;
}
form{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input[type=text]{
    background-color: #000009;
    color: white;
    font-family: "Lato", sans-serif;
    font-style: italic;
    padding: 10px 10px 3px 10px;
    width: 200px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px white solid;
}
form p{
    color: #707070;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 30px;
}
input[type=submit]{
    background-color: #d6d6d6;
    color: #3d3d3d;
    border: none;
    font-family: "Lato", sans-serif;
    font-style: italic;
    padding: 10px 30px;
    border-radius: 60px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ------------------------------------------------------- */
/*media query - desktop*/
@media only screen and (min-width: 700px) {

    body{
        display: flex;
        max-width: 100%;
        margin-bottom: 0;
    }
    .left{
        flex: 1;
        margin-left: 2%;
    }
    img{
        max-width: 400px;
    }
    h1{
        letter-spacing: 2px;
    }
    main{
        flex: 2;
        padding: 20px 5%;
        margin-left: 1%;
    }
    .story p{
        font-size: 16px;
    }
    form{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    h3{
        margin-bottom: 30px;
    }
    input[type=text]{
        height: 30px;
        padding-bottom: 2px;
    }
    input[type=submit]{
        max-width: 200px;
        margin-right: 20%;
        margin: 0;
    }
}